.def_1, .def_2, .def_3, .def_4, .def_5, .sma_1, .sma_2, .dek_1, .dek_2, .dek_3, .dek_4, .dek_5, .dek_6, .dek_7, .dek_8, .big_1, .big_2, .big_3, .big_4, .big_5, .big_6, .big_7, .big_8, .big_9, .big_10, .big_11, .big_12 {
	/*background-color:gray;*/
	clear:none;
}

.clearer {
	clear:both;
}

/* Default style */

.def_1, .def_2, .def_3, .def_4, .def_5 {
	float:left;
	margin:0 12px;
}

.def_1 {
	width:120px;
}

.def_2 {
	width:264px;
}

.def_3 {
	width:408px;
}

.def_4 {
	width:552px;
}

.def_5 {
	width:696px;
}

.def_st {
	margin-left:0;
}

.def_nd {
	margin-right:0;
}



/* SmartPhones */

@media only screen and (max-width: 767px) {
	
	.sma_1, .sma_2 {
		float:left;
		margin:0 12px;
	}

	.sma_1 {
		width:120px;
	}

	.sma_2 {
		width:264px;
	}
	
	.sma_st {
		margin-left:0;
	}

	.sma_nd {
		margin-right:0;
	}
	
}



/* Desktops, Laptops */

@media only screen and (min-width: 1224px) {
	
	.dek_1, .dek_2, .dek_3, .dek_4, .dek_5, .dek_6, .dek_7, .dek_8 {
		float:left;
		margin:0 12px;
	}

	.dek_1 {
		width:120px;
	}

	.dek_2 {
		width:264px;
	}

	.dek_3 {
		width:408px;
	}

	.dek_4 {
		width:552px;
	}

	.dek_5 {
		width:696px;
	}
	
	.dek_6 {
		width:840px;
	}
	
	.dek_7 {
		width:984px;
	}
	
	.dek_8 {
		width:1128px;
	}

	.dek_st {
		margin-left:0;
	}

	.dek_nd {
		margin-right:0;
	}
	
}



/* Big screens */

@media only screen and (min-width: 1824px) {
	
	.big_1, .big_2, .big_3, .big_4, .big_5, .big_6, .big_7, .big_8, .big_9, .big_10, .big_11, .big_12  {
		float:left;
		margin:0 12px;
	}

	.big_1 {
		width:120px;
	}

	.big_2 {
		width:264px;
	}

	.big_3 {
		width:408px;
	}

	.big_4 {
		width:552px;
	}

	.big_5 {
		width:696px;
	}

	.big_6 {
		width:840px;
	}

	.big_7 {
		width:984px;
	}

	.big_8 {
		width:1128px;
	}

	.big_9 {
		width:1272px;
	}

	.big_10 {
		width:1416px;
	}

	.big_11 {
		width:1560px;
	}

	.big_12 {
		width:1704px;
	}

	.big_st {
		margin-left:0;
	}

	.big_nd {
		margin-right:0;
	}
	
}