/* Default style */

body {
	width:698px;
	margin:0 auto;
}



/* SmartPhones */

@media only screen and (max-width: 767px) {
	
	body {
		width:264px;
	}
	
}



/* Desktops, Laptops */

@media only screen and (min-width: 1224px) {
	
	body {
		width:1128px;
	}
	
}



/* Big screens */

@media only screen and (min-width: 1824px) {
	
	body {
		width: 1704px;
	}
	
}



/* 
	Overrides for iPhone 4 and other high device-pixel-ratio devices
	----------------------------------------------------------------


@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	
	#example {
		background: rgb(255,158,97);
	}
	
}
*/